# Archivos compilados de Python
*.pyc
*.pyo
__pycache__/

# Archivos de entorno virtual
venv/
env/
homeconnectenv/
*.env
.env.local
.env.development
.env.production

# Archivos sensibles
firebaseConfig.js
homeconnect/settings.py
.firebaserc

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# Archivos de compilación de React
/build

# MacOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
Desktop.ini

# Linux
*~

# Visual Studio Code
.vscode/
*.code-workspace

# PyCharm
.idea/

# Sublime Text
*.sublime-project
*.sublime-workspace

# JetBrains IDEs
*.iml
out/

# Node.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs y temporales
*.log
*.swp
*.bak
*.tmp
*.orig

# Archivos de base de datos y backups
*.sql
*.dump
