<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Propiedades en Venta</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Propiedades en Venta</h1>
    <h2>Bienvenido: {{ usuario.nombre }}</h2>
    <div class="propiedades">
        {% for propiedad in propiedades %}
        <div class="propiedad">
            <h2>{{ propiedad.titulo }}</h2>
            <p><strong>Ubicación:</strong> {{ propiedad.direccion }}</p>
            <p><strong>Precio original:</strong> ${{ propiedad.precio }}</p>

            <p><strong>Precio con oferta:</strong> ${{ propiedad.precio_con_descuento|floatformat:2 }}</p>

            <p><strong>Agente de venta:</strong> {{ propiedad.usuario.nombre }}</p>

            <!-- Ofertas existentes -->
            <div class="ofertas">
                <h3>Ofertas disponibles:</h3>
                {% if propiedad.ofertas.all %}
                    <ul>
                        {% for oferta in propiedad.ofertas.all %}
                            <li>{{ oferta.descuento }}% de descuento - {{ oferta.descripcion }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No hay ofertas disponibles para esta propiedad.</p>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>
